################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rauf Gateway/.vs/Rauf Gateway/v16
/Rauf Gateway/Rauf Gateway/bin/Debug/netcoreapp3.1
/Rauf Gateway/Rauf Gateway/obj
