################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rauf Gateway/.vs/Rauf Gateway/v16
